/*
style.css
---------

Par Joel Lacroix 17/11/20
*/

img {
  max-width: 300px;
  height: auto;
  float: left;
  box-shadow: #353535;
}

img:hover {
  box-shadow: 2px 2px 15px #353535;
}

body {
  margin: auto;
  padding: 0;
  width: 900px;
  width: 100%;
  background: rgb(255, 255, 255);
  background-image: url("../media/montagnesbg.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #c91111;
}

.nav ul {
  list-style: none;
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
}

.nav li {
  font-family: titi;
  font-weight: bold;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a:link,
a:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
  transition: 0.5s background-color;
}

.nav a:hover,
a:active {
  color: rgb(15, 143, 248);
  font-weight: 600;
  transition: 0.3s color;
}

.oblique {
  color: rgb(15, 143, 248);
}

#nom {
  font-family: monospace;
  font-weight: bold;
  font-size: 1.4rem;
}

#dev {
  font-family: monospace;
  font-size: 1rem;
  color: slategrey;
}

.nav li {
  width: 150px;
  border-bottom: none;
  height: 50px;
  line-height: 50px;
  font-size: 1.6rem;
}

.nav li {
  display: inline-block;
  margin-right: -2px;
}

.circle {
  border-radius: 50%;
  width: 15%;
  height: 15%;
  float: none;
}

.circle:hover {
  box-shadow: 0 0 15px #353535;
}

.text {
  margin-left: 500px;
  margin-right: 500px;
  text-align: justify;
  font-family: monospace;
  position: justify;
  font-size: 14px;
}

.headers1,
.headers2 {
  color: rgb(15, 143, 248);
}

.headers1 {
  margin-left: 500px;
  margin-right: 500px;
  font-family: monospace;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
}

.headers2 {
  margin-left: 500px;
  margin-right: 500px;
  font-family: monospace;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
}

.headers3 {
  margin-left: 500px;
  margin-right: 500px;
  font-family: monospace;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
}

.text a:visited,
a:link {
  font-family: monospace;
  font-weight: bold;
  color: rgb(8, 79, 160);
  text-decoration: none;
  font-size: 1.1rem;
}

.text a:hover {
  font-family: monospace;
  font-weight: bold;
  color: rgb(15, 143, 248);
  text-decoration: underline;
  font-size: 1.1rem;
}

@font-face {
  font-family: titi;
  src: url("../font/TitilliumWeb-Regular.ttf");
}
